* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    font-size: 3rem;
}

.heading {
    font-weight: normal;
}

.nav {
    margin: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-item {
    text-decoration: none;
    color: black;
    font-size: 2.4rem;
    margin-left: 2rem;
    text-transform: capitalize;

}


/* Hero */

.hero {
    display: flex;
    background-image: url(./asset/skyscraper.jpg);
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-size: cover;
}

.hero-heading {
    font-size: 4rem;
    font-weight: normal;
    color: white;
}

.hero-heading span {
    background-color: rgba(0, 0, 0, 0.418);
    font-weight: bold;
    padding: 0.2rem 1rem;
}

/* projects */

.m-2 {
    margin: 20px;
    /* display: flex; */
}

.headings {
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-items: center; */
}

.house {
    position: relative;
    width: 48%;
}

.house img {
    width: 100%;
}

.house-number {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.664);
    font-size: 1.5rem;
    padding: 1rem;
    top: 40%;
    left: 35%;
    text-transform: capitalize;
    transition: all 0.5s linear;
}

.house-number:hover {
    background-color: black;
}

/* about */

.text-about {
    font-size: 1.3rem;
    font-weight: 500;
}

/* team members */

.card {
    width: 48%;
}

.card img {
    width: 100%;
}

.card p {
    margin-bottom: 6px;
}

.name {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
}

.role {
    color: gray;
    font-weight: bold;
    font-size: 1.1rem;
}

.desc {
    font-size: 1.2rem;
    font-weight: 600;
}

.btn {
    width: 100%;
    border: 0;
    padding: 1rem 0.5rem;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 0.25rem;
    letter-spacing: 0.8px;
    transition: all .3s linear;
}

.btn:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form input, textarea {
    padding: 1rem 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid black;
    outline: 0;
}

.form ::placeholder {
    color: rgba(0, 0, 0, 0.801);
}

.form .btn-form {
    /* width: inherit; */
    width: 10%;
}

/* footer */

footer {
    height: 20vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

footer p {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1.1px;
}

footer p span {
    color: yellow;
}